body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.main-content {
    display: flex;
    height: 100vh; /* Ensures it takes full screen height */
}

.left-section, .right-section {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
}

.left-section {
    background-color: cornflowerblue;
    color: white;
    border-top-right-radius: 10% 15%;
    border-bottom-right-radius: 10% 15%;
}

.right-section {
    background-color: white;
}

